@tailwind base;
@tailwind components;
@tailwind utilities;


/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@keyframes moveBall1 {
  0% { transform: translate(0, 0); }
  50% { transform: translate(200px, 150px); }
  100% { transform: translate(0, 0); }
}

@keyframes moveBall2 {
  0% { transform: translate(0, 0); }
  50% { transform: translate(-150px, -200px); }
  100% { transform: translate(0, 0); }
}

@keyframes moveBall3 {
  0% { transform: translate(0, 0); }
  50% { transform: translate(250px, -100px); }
  100% { transform: translate(0, 0); }
}

@keyframes moveBall4 {
  0% { transform: translate(0, 0); }
  50% { transform: translate(-200px, 100px); }
  100% { transform: translate(0, 0); }
}

@keyframes moveBall5 {
  0% { transform: translate(0, 0); }
  50% { transform: translate(150px, 200px); }
  100% { transform: translate(0, 0); }
}

@keyframes moveBall6 {
  0% { transform: translate(0, 0); }
  50% { transform: translate(-100px, -250px); }
  100% { transform: translate(0, 0); }
}

.animate-move-ball-1 {
  animation: moveBall1 5s infinite;
}

.animate-move-ball-2 {
  animation: moveBall2 5s infinite;
}

.animate-move-ball-3 {
  animation: moveBall3 5s infinite;
}

.animate-move-ball-4 {
  animation: moveBall4 5s infinite;
}

.animate-move-ball-5 {
  animation: moveBall5 5s infinite;
}

.animate-move-ball-6 {
  animation: moveBall6 5s infinite;
}


.bg-blue-500 {
  background-color: #4682b4; 
}

.bg-blue-400 {
  background-color: #5a8fb7;
}

.bg-gray-700 {
  background-color: #2d3748;
}

.bg-gray-800 {
  background-color: #1a202c;
}

.text-yellow-400 {
  color: #facc15; 
}

.text-white {
  color: white;
}

@keyframes moveBall1 {
  0% { transform: translate(0, 0); }
  50% { transform: translate(200px, 150px); }
  100% { transform: translate(0, 0); }
}

.animate-move-ball-1 {
  animation: moveBall1 5s infinite;
} */







/* NEW CODE */

@font-face {
  font-family: MuseoSansCondensed-300;
  src: url(./assets/fuentes/MuseoSansCondensed-300.ttf);
}

* {
  margin: 0;
  font-family: MuseoSansCondensed-300;
}

.full-view{
  background-color: #ffffff00;
  display: flex; 
  flex-direction: column;
  height: 100vh;
  position: relative;
  padding: 0px 15px;
}

.full-view-layout {
  background-color: #ffffff00;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-user{
  padding: 0 !important;
}
.logosLogin {
  width: 100%;  /* Ocupa toda la fila */
  display: flex;
  justify-content: end;
  padding: 30px;
  position: relative;
}

.logosLogin img {
  margin-left: 10px;
}

.vertical-barLogin {
  height: 67px;
  width: 2px;
  background-color: #ffffff;
  margin-left: 10px;
  margin-top: 10px;
}

.vertical-bar-negro {
  height: 50px;
  width: 1px;
  background-color: #000000;
  margin-left: 10px;
  margin-top: 10px;
}

.illustration-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 120px;
  left: 150px;
}

.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 6%;
  right: 150px;
}

.redForm{
  width: 400px;
  background-color: #ffffff;
  padding: 3% 5%;
  border-radius: 10%;
}

.titleRedPrimary{
  color: #e80b2c !important; 
  text-align: center; 
  font-family: MuseoSansCondensed-300;
}

.loading-spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255,255, 0.7);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* --------------------------------------------- FOOTER ------------------------------------------------------------------------*/

footer>* {
  height: fit-content;
  margin: auto;
}

footer a,
footer span {
  color: black;
  font-size: 13px;
}

footer .redes-sociales {
  display: flex;
  width: fit-content;
}

footer .redes-sociales .red-social:not(:last-child) {
  margin-right: 10px;
}

footer .footer-superior,
footer .footer-inferior {
  display: flex;
  width: 100%;
}

footer .footer-superior {
  background-color: #676767;
  height: 80px;
}

footer .footer-inferior {
  background-color: #989898;
  height: 20px;
}

footer .footer-inferior>* {
  margin: auto;
}

footer .footer-inferior>*:first-child {
  margin-left: 0;
}

footer .footer-inferior>*:last-child {
  margin-right: 0;
}

footer .seccion-footer {
  margin-top: auto;
  margin-bottom: auto;
}

footer .seccion-footer.redes-sociales {
  margin-right: 0;
  margin-left: auto;
}

footer .seccion-footer.contacto {
  margin-right: 50px;
}

footer .img-footer {
  width: 40px;
  margin: 0 0 auto 0;
}

footer .separador-vertical {
  width: 2px;
  background-color: black;
  height: 40px;
  margin: 5px 8px;
}

footer .seccion-footer {
  display: flex;
}

footer table {
  color: black;
}

footer table td {
  line-height: 13px;
  height: 13px;
  font-size: 13px;
}

footer table tr td:nth-child(2) {
  padding-left: 50px;
}

@media only screen and (max-width: 768px) {
  :root {
    --height-pie-pagina: 90px !important;
  }

  footer .footer-inferior {
    height: 60px;
  }

  footer .footer-superior {
    height: 200px;
  }

  footer .footer-superior,
  footer .footer-inferior {
    flex-direction: column;
  }

  footer .footer-superior>*,
  footer .footer-inferior>* {
    margin: auto !important;
  }

  footer table {
    width: 252px;
  }
}

.separador-vertical {
  width: 2px;
  background-color: black;
}

.titulo {
  font-weight: bold;
}

.enlace-circular {
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
  position: relative;
  display: flex;
}

.enlace-circular:hover {
  color: #C90A00;
}

.enlace-circular>* {
  display: flex;
}

.enlace-circular a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  color: transparent !important;
}

.enlace-circular .img-enlace {
  width: 35px;
}

:root {
  --rmdp-primary-red: #C90A00 !important ;
  --rmdp-secondary-red: #C90A00!important ;
  --rmdp-shadow-red: #530400!important ;
  --rmdp-today-red: #e9cac8!important ;
  --rmdp-hover-red: #db8682!important ;
  --rmdp-deselect-red: #af1738!important ;
}

.ant-layout-sider{
  background-color: rgb(214, 214, 214) !important;
}

.ant-tabs-nav-list {
  width: 70%;
}

.ant-tabs-tab {
  width: 150%;
  justify-content: left;
}

.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab { /* For tabs border */
  border-color: rgba(0, 0, 0, 0.205);
}

.ant-tabs-top > .ant-tabs-nav::before { /* For the line to the right and close to the tabs */
  border-color: rgba(0, 0, 0, 0.205);
}

.ant-tabs > .ant-tabs-nav { /* So that there is no gap between the content and tabs */
  margin-bottom: 0;
}

.ant-tabs-content-holder {
  border: 1px solid rgba(0, 0, 0, 0.205); /* Border for the content part */
}

.ant-tabs-tab {
  background-color: #c90a0021 !important;
}

.ant-tabs-tab-active{
  background-color: white !important;
}

.ant-table-thead .ant-table-cell {
  background-color: #c90a0021 !important;
  }


